#main-container{
    background-color: blue;
    width: 30%;
    height: 40%;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    display: grid;
}
.login-button{
    width: 20%;
    margin: 0 50% 0 50%;
}